<?xml version="1.0" ?>
<robot name="quadcopter">
  <link name="base_link">
    <inertial>
       <mass value="1.0"/>
       <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
       <origin xyz="0 0 0" rpy="0 0 0"/>
    </inertial>
    <visual>
       <geometry>
         <box size="0.3 0.3 0.1"/>
       </geometry>
       <material name="blue">
         <color rgba="0 0 1 1"/>
       </material>
    </visual>
    <collision>
       <geometry>
         <box size="0.3 0.3 0.1"/>
       </geometry>
    </collision>
  </link>
</robot>
